body {
  background-color: white;
}

.background {
  padding-bottom: 80px;
}

#root div {
  position: relative;
}

h1, h2, h3 {
  font-family: $german-font;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  padding: 20px;
}

a {
  color: $light-green;
  text-decoration: underline;
}

.button {
  color: white;
  background-color: $brown;
  padding: 10px;
  border-radius: 3px;
}
