html {
  min-height: 100%;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

#root {
  min-height: 100%
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  min-height: 100%;
}

.background {
  padding-bottom: 80px;
  position: relative;
  padding-bottom: 50px;
  min-height: 100%;
  margin: 0;
}

#root div {
  position: relative;
}

h1, h2, h3 {
  font-family: $german-font;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  padding: 20px;
}

a {
  color: $light-green;
  text-decoration: underline;
}

.button {
  color: white;
  background-color: $brown;
  padding: 10px;
  border-radius: 3px;
}
