.login-form-container {
  position: relative;
}

.login-form-box {
  max-width: 500px;
  min-width: 500px;
  min-height: 00px;
  box-sizing: border-box;
  padding: 50px 45px;
  background-color: white;
  border-radius: 40px;
  margin: 40px auto;
  color: #593a0e;
  display: relative;
  input[type="submit"] {
    background: #593a0e;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin-left: 45px;
  }
}


.facebook {
  height: 100px;
  position: absolute;
  bottom: -40px;
  left: 43%;
}

.auth-group {
  position: relative;
  margin: 20px 0px 35px 45px;
  background-color: white;
}

.login-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #593a0e;

  label {
    color: #593a0e;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  :focus {
    outline:none;
  }
}

.login-input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-weight: bold;
  color: #593a0e;
}

.errors {
  text-align: center; 
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#593a0e;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:40%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#593a0e; }
  to    { width:0; background:transparent; }
}
