.footer {
  position: absolute;
  height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $brown;
  color: white;
  margin-top: 50px;
  padding: 30px;
  border-top: 5px double $light-brown;
  p {
    text-align: center;
    font-family: $german-font;
    font-size: 20px;
    padding: 20px;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
}
