header {
  position: relative;
  ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid $light-brown;
    margin-bottom: 5px;
    align-items: center;
    height: 60px;
  }

}

.welcomeBox {
  position: relative;
  background-image: image_url('welcome.jpg');
  width: 76%;
  margin: 0 auto;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
  border: 8px double $light-brown;
}

.welcomeTextBox {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $brown;
  border-radius: 20px;
  z-index: 5;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
}

.welcomeContent {
  min-height: 2000px;
}

#logo {
  font-size: 40px;
  font-family: $german-font;
  margin-left: 40px;

  a {
    color: $brown;

  }
}

.dropdown {
  position: absolute;
  width: 100%;
}
