header {
  position: relative;
  ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px groove white;
    align-items: center;
    height: 60px;
  }

}

.welcomeBox {
  position: relative;
  background-image: image_url('welcome.jpg');
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  align-items: center;
  align-content: center;
}

.welcomeTextBox {
  position: absolute;
  left: 220px;
  top: 100px;
  background-color: $brown;
  border-radius: 20px;
  z-index: 5;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
}

.welcomeContent {
  min-height: 2000px;
}

#logo {
  font-size: 40px;
  color: $brown;
  font-family: $german-font;
  margin-left: 40px;
}

.dropdown {
  position: absolute;
  width: 100%;
}
