header {
  ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px groove white;
    align-items: center;
    height: 60px;
  }

}

.welcomeBox {
  color: $brown;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  width: 400px;
  margin: 200px auto;
  background-color: white;

  h1 {
    margin: 50px;
  }

  p {
    margin: 50px;
  }

}

#logo {
  font-size: 40px;
  color: white;
  font-family: $german-font;
  margin-left: 40px;
}
