$light-green:  #818c3c;
$green: #25591f;
$dark-green: #19270d;
$light-brown: #72601b;
$brown: #593a0e;
$german-font: 'Germania One', cursive;

body {
  background-color: $brown;
}

header ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px groove white;
  align-items: center;
  height: 60px;
}

h3 {
  text-align: center;
  font-family: $german-font;
  font-size: 18px;
  padding: 20px;
}

a {
  color: $light-green;
  text-decoration: underline;
}

.welcomeBox {
  color: $brown;
  text-align: center;
  border: 1px solid white;
  border-radius: 3px;
  width: 400px;
  margin: 200px auto;
  background-color: white;
}

.welcomeBox h1 {
  font-size: 30px;
  font-family: $german-font;
  margin: 50px;
}

.welcomeBox p {
  margin: 50px;
}

#logo {
  font-size: 40px;
  color: white;
  font-family: $german-font;
  margin-left: 40px;
}
